body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #eea070, #44848d);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    color: #333;
}

.search-box {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.weather-info {
    margin-top: 20px;
    padding: 15px;
    background: white;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 300px;
}

.weather-info p {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}
